#homeContainer {
    width: 75vw;
    background-image: url('../assets/team.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
}

#home-right-column {
    padding: 15px;
    background-color: rgba(93,183,222,0.7);
    border-radius: 10px;
    width: 70vw;
    height: 25vh;
    margin: auto;
    margin-top: 20vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


#home-content {
    align-items: stretch;
    height: 100%;
}

#home-column {
    justify-content: center;
}

#home-heading {
    border-bottom: 1px solid #5DB7DE;
    font-family: "Leckerli One"
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

 #home-heading .heading {
    font-family: "Leckerli One";
    color:black;
}

#home-subtitle {
    text-align: left;
    margin: auto;
}

#home-content {
    
}