/*1c4587 is dark blue*/
/*Background - white*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Body*/

#body {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.right-column {
    height: 100%;
}

.header-font {
    font-family: 'Raleway', sans-serif;
}

.fade {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.heading {
    font-size: 2.5em;
    color: white;
}

.button {
    background-color: rgba(0, 0, 204, 0.7);
    width: 150px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.content-div {
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
}

.inputs {
    width: 40vw;
}

#view {
    width: 40vw;
    margin: 20px;
}

.firstName {
    padding: 20px;
    flex: 1 0 50%;
    border: 1px solid grey;
}

.lastname {
    padding: 20px;
    flex: 1 0 50%;
    border: 1px solid grey;
}
/*Left announcements bar*/
.leftNavbar {
    max-height: 75vh;
    margin: 5vh 2.5vw 5vh 5vw;
    max-width: 20vw;
    flex: 1 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.leftNavbar .item-header {
    /*font-size: .9rem !important;*/
}

.leftNavbar .item-detail-cell{
    display: none !important;
}

.leftNavbar .dropdown-icon{
    /*padding: 10px;
    margin: auto;*/
    
}
.leftNavbar .item-container .arrowContainer .up-arrow {
    display: none;
}

.leftNavbar .item-container .arrowContainer .down-arrow {
    display: none;
}

.feedContainer {
    background-color: #F7F5e6;
}

.listContainer {
    height: fit-content;
    max-height: 75vh;
    max-width: 60vw;
    margin: 5vh 5vw 5vh 2.5vw;
    flex: 1 0 auto;
    border-radius: 10px;
    overflow-x: auto;
}


.item-container {
    /*border: 1px solid #3B7080;*/
    border-radius: 10px;
    flex: 1 0 100%;
    align-items: center;
    min-height: 7vw;
    height: fit-content;
    padding: 10px;
    padding-bottom: 5px;
    transition: height 1.4s, min-height 1.4s;
    background-color: #5DB7DE;
    color: #1c4587;
    margin-bottom: 5px;
    margin-right: 5px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 0px 40px -28px rgba(0,0,0,1);
}

.progressContainer{
    width: 50% !important;
}

.non-mod {
    padding: 10px;
    border-radius: 2px;
    font-size: 75%;
    background-color: #1c4587;
    color: white;
    width: auto;
}c

.radio-container {
    padding: 10px;
}

.radio-container label {
    padding: 5px;
}

.voted {
    background-color: #FCEC52;
    border-radius: 5px;
    transition: .3s;
}

.count{
    line-height: 0px;
    margin: auto;
}

.item-container:hover {
    background-color: #a1d2e2;
    transition: .5s;
}

.item-inner-details {
    flex-direction: column !important;
}

.arrowContainer {
    display: flex;
}

.postComment {
    display: flex;
    width: 100%;
    margin: 0 20px;
}

.commentInput {
    resize: none;
}

.commentSubmitButton {
    padding: 10px;
    background-color: #3B7080;
    color: white;
    cursor: pointer;
}

.removeButton {
    padding: 10px;
    background-color: rgba(204, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

/*Comment section*/

.commentSection {
    border-left: 5px solid #FCEC52;
    border-radius: 5px;
    width: 100%;
    padding: 10px 25px;
}

.item-img {
    width: 10vw;
    
}

.item-img-icon {
    cursor: pointer;
}

.item-img img {
    width: 4vw;
    height: auto;
    padding: 10px;
}

.announcement-item-details {
    z-index: 0;
    position: relative;
}

.announcement item-detail-cell{
    display: none .!important;
}
.announcement-item-details .item-container{
    display: block !important;
}

.item-details {
    flex: 2 0 75%;
}

.item-detail-cell {
    padding: 20px;
    line-height: 0px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

/*Down arrow*/

.dropdown-icon {
    background-image: url('../assets/white-down.png');
    width: 1.5vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    /*background-color: #5DB7DE;*/
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.dropdown-icon:hover {
    /*box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    transition: .3s;
    background-color: #FCEC52;
    border: 2px solid #FCEC52;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c4587;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a1d2e2;
    transition: .3s;
    cursor: pointer !important;
}

.active {
    max-height: 100vh;
    height: fit-content;
    align-items: flex-start;
}

.rotate {
    transform: rotate(180deg);
}

.item-header {
    font-size: 1.2rem;
    padding: 10px;
}

.hidden, .zHidden, .ctgHidden, .sHidden {
    display: none;
}

#pageHeading {
    height: 10vh;
    font-size: 2vh;
    background-color: #5DB7DE;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.7);
}
#pageHeading p {
    padding: 15px;
    font-size: 4vh;
    text-align: center;
    font-family: "Leckerli One";
}

#inputDiv {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
#inputDiv input{
    width: auto;
    margin: 5px;
}

#inputDiv button {
    margin: 5px;
    padding: 3px;
}

#category{
    width: 80%;
    padding: 2.5% 10%;
    margin: 10%;
    border-bottom: 1px solid grey;
}

.item-button {
    cursor: pointer;
}

#accountInfo {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
    border-bottom: solid 5px lightblue;
}

#accountInfo p{
    margin: 2px;
    font-size: 20px;
}
.label{
    font-weight: bold;
}

/*New Post Page*/
input{
    padding: 2px;
}

input:required:valid {
    border: 2px solid green;
    transition: .5s;
}

input:required:invalid {
    border: 2px solid red;
}
input:focus {
    outline: none;
}

.itemTable {
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;

}
.itemTable td {
    border-bottom: solid 1px black;
    box-sizing: border-box;
    width: 15vw;
}
.itemTable th{
    margin-top: 10px;
}
.aboutParagraph {
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#noItems {
    font-size: 2em;
    padding: 10px;
    width: 100%;
    text-align: center;

}

.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 20px;
}

.arrow img {
    height: 100%; 
    width: 100%;
}

.v-icon:hover{
    transition: .3s;
    border-radius: 3px;
    background-color: white;
}

#down-v-icon {
    transform: rotate(180deg);
}

#resetContent {
    width: 100vw;
    height: 95vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#resetContainer, #confirmContainer {
    width: 25vw;
    height: 200px;
    background-color: rgba(0, 204, 102, .5);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hide {
    display: none !important;
}

#loader {
    position: absolute;
    left: 50vw;
    top: 50vh;
}

.confirmButton {
    background-color: rgba(0, 0, 204, 0.5);
    height: 35px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
    margin: 0 20px;
    color: white;
}

.blue {
    border-left: solid 10px #1c4587;
    /*background-color: #4DB7DE !important;*/
}

#inputContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 60%;
    width: 80%;
}

#inputText {
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
}

#login-body h2{
    width: 100vw;
    margin: auto;
    padding: 20px;
    margin-bottom: 15px;
}

#login-body button {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5px;
    background-color: #4DB7DE;
}
.container{
    margin: auto;
    width: 20vw;
    text-align: center;
    font-size: 20px;
}
.container label{
    width: 5vw;
}
.container input{
    float: right;
}

#emailInput {
    width: 100%;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    padding: 5px 10px;
}

#submitContainer {
    flex: 1 0 40%;
    display: flex;
    justify-content: flex-start;
}

#submitRecoveryEmail {
    background-color: rgba(0, 0, 204, 0.5);
    height: 35px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
}

.addAnItem {
    background-color: #E4FDE1;
}

.hide{
    display: none;
}

.postColumn{
    width: 60% !important;
}

#myPosts, #myComments {
    font-family: 'Raleway', sans-serif;
    border: 1px solid black;
    margin: auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#myPosts th, #myComments th {
    padding: 3px 3px;
    background-color: #FFFFFF;
    width: auto;
    min-width: 8em;
    border: 1px solid black;
}

#myPosts td, #myComments td{
    padding: 7px;
}

#myPosts tr, #myComments tr {
    background: #F2F3AE;
    margin-top: 2px;
    border-collapse: collapse;
}

#myPosts tr:hover, #myComments tr:hover {
    transition: .5s;
    background-color: #FCEC52;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    background: grey;
    width: 100%;
    background-color: #FCEC52;
}

h3 {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}


