.navbar {
    text-align: center;
    margin: auto;
    background-color: #3B7080;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;

}

.nav-item:hover {
    transition: .5s;
    background-color: #5DB7DE;
}

.nav-item {
    margin: auto;
    padding: 10px 20px;
}